@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bona+Nova:wght@400;700&family=Fjalla+One&family=Libre+Franklin:wght@400;700&family=Special+Elite&family=Quicksand:wght@400;700&family=Borel&family=Roboto:wght@400;700&family=Figtree&family=Ubuntu:wght@400;700&family=Urbanist&family=Nova+Mono&family=Ysabeau+Infant:wght@400;700&display=swap');

/* General CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 75px;
  scroll-behavior: smooth;
}

body {
  background-color: #f9e8cda8 !important;
  color: rgba(100, 64, 39, 0.924) !important;
  position: relative;
  font-family: 'Nova Mono', 'Ubuntu', serif, sans-serif !important;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-family: 'Arvo', serif !important;
}

#top-button {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: none;
  border: none;
}

#top-button img{
  width: 3.5rem;
  margin: 1.5rem;
}

.banner-intro p,
span.proj-intro,
.portfolio-item-individual {
  font-family: 'Figtree';
}

/* NavBar */

a.navbar-link:link { 
  text-decoration: none; 
  color: inherit;
}

a.navbar-link:visited {  
  text-decoration: none; 
  color: inherit;
}

a.navbar-link:hover { 
  text-decoration: none; 
  color: inherit;
}

a.navbar-link:active { 
  text-decoration: none; 
  color: inherit;
}

/* #basic-navbar-nav {
  font-family: 'Nova Mono', Arial, sans-serif;
} */

nav.navbar {
  padding: 0.5rem 0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  transition:  0.32s ease-in-out;
  background-color: rgba(100, 64, 39, 0.487);
  background-image: none;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav a.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.75;
  transition: transform 0.2s;
}
nav.navbar .navbar-nav a.navbar-link:hover,
nav.navbar .navbar-nav a.navbar-link.active {
    opacity: 1;
    transform: scale(1.1);
    font-weight: bold;
}

a.navbar-link.active {
  text-decoration: overline;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

#logo {
  border-radius: 50%;
  width: 6rem;
}

#logo:hover {
  animation: App-logo-spin 8s linear;
}

.App-logo {
  height: 6rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  top: -2px;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/* Banner */

.banner {
  padding: 150px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/img/banner-bg.png');
}

.banner-layout {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.banner-main {
  width: 45%;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  color: rgba(100, 64, 39, 0.924);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 6s steps(40, end) infinite, blink 0.8s steps(29, end) infinite;
  border-right: 5px solid white;
}

@keyframes typing {
  from { width: 0 } 
  to { width: 100% }
}
    
@keyframes blink {
  from { border-right-color: white }
  to { border-right-color: transparent}
}

.banner h4 {
  color: rgba(100, 64, 39, 0.924);
  margin: 1rem auto;
}

.banner-intro {
  color: #777676;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
  text-align: left;
}

.banner-connect-button, .contact-send-button, .proj-details-button {
  font-family: 'Fjalla One', 'Yeseva One', sans-serif;
  font-size: larger;
  padding: 0.5rem 2rem;
  margin: 2rem 0;
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

.proj-details-button {
  font-size: medium;
  padding: 0.2rem 1rem;
  margin: 0.5rem 1.5rem;
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
}

.back-to-projects {
  display: flex;
  align-self: flex-start;
}

.back-to-proj-button {
  margin: 0.5rem;
}

.banner-connect-button:hover,  .contact-send-button:hover, .proj-details-button:hover {
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

.banner-connect-button:active,  .contact-send-button:active, .proj-details-button:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

.avatar {
  width: 30rem;
  transition: transform 0.3s;
}

.avatar:hover {
  transform: scale(0.9);
}

/* Skills */

.skills {
  margin: 3rem auto;
  color: rgba(100, 64, 39, 0.924);
  background-position: top center;
  background-repeat: no-repeat;
}

.skills h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
}

.each-skill {
  margin: 1.5rem;
  width: 150px;
  font-size: 15px;
  transition: transform 0.4s;
}

.each-skill:hover {
  transform: scale(1.3);
}

.tech-icon img {
  width: 115px;
  height: 115px;
  object-fit: contain;
}

div .tech-name {
  padding: 1rem auto;
}

.tech-stack h3 {
  margin: 5rem auto 2rem;
}

#tech-stack-list > .each-skill {
  margin: 1rem;
  width: 130px;
}

#tech-stack-list > .each-skill img {
  width: 100px;
  height: 100px;
}

/* Projects */

.project {
  padding: 80px;
  position: relative;
  color: rgba(100, 64, 39, 0.924);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}

.project p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.project .nav.nav-pills .nav-link {
  color: rgba(100, 64, 39, 0.924);
  background-color: rgba(255, 255, 255, 0.43);
  margin: auto 30px;
  border-radius: 50px;
  font-size: 18px;
  transition: transform 0.3s;
}

.project .nav.nav-pills .nav-link:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.project .nav.nav-pills .nav-link.active {
  background: linear-gradient(90.21deg, #fba995f2 -5.91%, #f9e1ac 111.58%);
}

@media (max-width: 800px) {
  .banner-layout {
    display: flex;
    flex-direction: column;
  }

  .banner-main {
    width: 75%;
  }

  .banner-intro {
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    text-align: left;
  }

  .avatar {
    width: 300px;
    margin: 2rem auto;
  }

  .project .nav.nav-pills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .project .nav.nav-pills .nav-item {
    width: 75%;
  }

  .project .nav.nav-pills .nav-link {
    margin-bottom: 20px;
  }

  .project-card-container {
    flex-flow: column wrap;
  }

  .proj-imgbx{
    width: 380px;
    margin: 0 auto;
  }

  .portfolio-item-individual, #tech-stack-list {
    margin: 1rem auto;
    justify-content: center;
    width: 100%;
  }

  p.portfolio-item-intro, div.tech-name {
    padding: 0;
  }

  .each-skill {
    width: 120px;
  }
  
  .tech-icon img {
    width: 92px;
    height: 92px;
  }

  #tech-stack-list > .each-skill {
    margin: 0.8rem;
    width: 110px;
  }
  
  #tech-stack-list > .each-skill img {
    width: 85px;
    height: 85px;
  }
}

/* Project Card */

.project-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.proj-imgbx {
  position: relative;
  width: 425px;
  border-radius: 30px;
  overflow: hidden;
  margin: 15px auto;
  text-align: center;
  box-shadow: rgba(211, 148, 109, 0.3) 4px 4px, rgba(211, 148, 109, 0.3) 6px 6px;
}

.proj-imgbx img {
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #d38e7dea -5.91%, #e8d19bf4 111.58%);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  justify-content: center;
  padding: 18px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.6s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-intro {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.8px;
  display: inline;
  text-align: left;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/* Project Details */

#project-details {
  width: 80%;
  margin: 1rem auto;
}

.proj-details-main {
  width: 90%;
  margin: auto;
}

.intro .title {
  text-shadow: 2px 2px white;
}

.section__title {
  color:rgba(100, 64, 39, 0.924);
  font-weight: bold;
}

.section__subtitle--intro {
  padding: 0.25em 5em;
  margin-bottom: 1em;
  padding: 5rem auto;
  display: inline-block;
  background-color: rgba(100, 64, 39, 0.487);
}

.intro__img {
  width: 7rem;
  border-radius: 18%;
  box-shadow: rgba(200, 200, 200, 0.4) 4px 4px, rgba(200, 200, 200, 0.4) 6px 6px;
}

.demo-video-container {
  margin: 2rem auto;
  position: relative;
  width: 70%;
  padding-bottom: 39.38%;
  height: 0;
}

.demo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-item-individual, #tech-stack-list {
  margin: 1.5rem auto;
  justify-content: center;
  width: 70%;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    grid-column-gap: 1em;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns: min-content max-content;
    margin: auto;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: end;
    position: relative;
    left: -1.5em;
    width: calc(100% + 3em);
    padding-left: calc(300px + 1em);
  }
}

.portfolio-item-individual {
  text-align: start;
}

.portfolio-item-intro {
  color: rgba(100, 64, 39, 0.924);
  padding: 1rem 2rem;
  margin: 0;
}

.portfolio-button-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  #basic-navbar-nav > nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition:  0.32s ease-in-out;
    align-content: flex-start;
    background-color: rgba(100, 64, 39, 0.926);
  }

  .banner-layout {
    width: 90%;
  }

  .banner-main {
    width: 90%;
  }

  .banner-main h1 {
    font-size: 3.5rem;
  } 
  
  .banner-main h4 {
    font-size: 1.25rem;
  } 
  
  .banner-main p {
    font-size: 1rem;
  }

  .portfolio-item-individual, #tech-stack-list {
    margin: 0.5rem auto;
    width: 100%;
  }

  p.portfolio-item-intro, div.tech-name {
    font-size: 15px;
  }

  .portfolio-button-container {
    flex-direction: column;
    align-items: center;
  }

  .section__subtitle {
    font-size: 15px;
    border-radius: 20px;
    padding: 0.8rem;
  }

  .intro__img {
    width: 200px;
  }

  .demo-video-container {
    width: 100%;
    padding-bottom: 56.25%;
  }

  .project {
    padding: 1rem;
  }

  .proj-imgbx {
    flex-direction: column;
  }

  .proj-txtx h4 {
    font-size: 14px;
  }
  
  .proj-intro,  .proj-details-button {
    font-size: 11px;
    letter-spacing: 0.5px;
  }

  .each-skill {
    width: 110px;
  }
  
  .tech-icon img {
    width: 85px;
    height: 85px;
  }

  #tech-stack-list > .each-skill {
    width: 100px;
  }

  #tech-stack-list > .each-skill img {
    width: 77px;
    height: 77px;
  }
}

/* Contact */

.contact {
  padding: 80px;
}

.contact h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  color: rgba(100, 64, 39, 0.924);
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-logo {
  border-radius: 50%;
  width: 18rem;
  animation: App-logo-spin 10s infinite linear;
  margin: 1.5rem 0;
}

.contact-form-label {
  text-align: left;
  padding-top: 0.5rem;
  font-size: 18px;
  font-weight: bold;
}

/* Footer */

.footer {
  padding: 1.5rem 0;
  background-repeat: no-repeat;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.copy-right {
  margin-top: 1rem;
  color: rgba(100, 64, 39, 0.924);
}

/* Default CSS */

.App {
  text-align: center;
}