@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Cantarell&family=DM+Sans&family=DM+Serif+Display&family=Fjalla+One&family=Josefin+Sans:wght@300&family=Oswald&family=Source+Sans+Pro&family=Yeseva+One&display=swap');

/* General CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 75px;
  scroll-behavior: smooth;
}

body {
  background-color: #282c34 !important; /* important declaration (preferred) */
  color: white !important;
  position: relative;
  font-family: 'Yeseva One', 'Josefin Sans', serif, sans-serif !important;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  line-height: normal;
}

/* Default CSS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
